// src/components/SiteDGI.scss

.site-dgi {
    padding: 20px;
    background-color: #e2e6ea; /* Couleur de fond */
    border: 1px solid #ccc;
    border-radius: 5px;
  
    h2 {
      color: #343a40; /* Couleur du titre */
    }
  
    p {
      color: #6c757d; /* Couleur du texte */
    }
  }
  